version: '3'

services:
  nginx:
    container_name: fivews-nginx
    image: nginx:1.19
    ports:
      - 8080:80
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    container_name: fivews-php
    build: ./docker/php
    ports:
      - 8765:8765
    volumes:
      - ./fivews:/var/www/fivews

  db:
    container_name: fivews-db
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: 6Pm31aw5FxETiQ6R
      MYSQL_USER: fivews
      MYSQL_PASSWORD: wWJ8Uy2OyiXxIUNEcDnX
      MYSQL_DATABASE: fivews
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always

  testdb:
    container_name: fivews-testdb
    image: mysql:8.0
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: hn0MmgSU6lfHjgjO
      MYSQL_USER: fivews
      MYSQL_PASSWORD: wWJ8Uy2OyiXxIUNEcDnX
      MYSQL_DATABASE: testfivews
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
